// section
section.block_grey
  .container
    .quick_start
      .quick_start__title
        h2 Быстрый старт
      .quick_start__subtitle.p-regular До 2000 ключевых слов мы запускаем за 3 рабочих дня
      .quick_start__items
        .quick_start__item
          .quick_start__image quick_start__image-1  circle_image
          .subtitle Компании остаются у вас
          .quick_start__description.p-regular
            | Все созданные рекламные материалы принадлежат вам, так как
            | мы ведём рекламу в аккаунтах заказчиков
        .quick_start__item
          .quick_start__image quick_start__image-2 circle_image
          .subtitle Никаких скрытых комиссий
          .quick_start__description.p-regular
            | Услуги оказываем в рамках договора, в котором указан объём
            | работ, для вас не будет переплат
        .quick_start__item
          .quick_start__image quick_start__image-3 circle_image
          .subtitle Заинтересованы в результате
          .quick_start__description.p-regular
            | Оценка работ идёт от их объёма. Поэтому цель – не
            | раздувание
            | бюджета, а максимум отдачи от рекламы
