section.block__grey
  .quick
    .container
      h3.quick__title Основные принципы продвижения мобильных приложений:
      .quick__items
        .quick__item
          .quick__image
              img(src="../icons/svg-mono/waterfall.svg", alt="Принцип водопада")
          h4.quick__item-title Принцип водопада
          p.quick__item-description.md
            | Бюджет динамически распределяется по каналам мобильного
            | трафика от лучшего к худшему
        .quick__item
          .quick__image
            img(src="../icons/svg-mono/light.svg", alt="Постоянная работа с креативами")
          h4.quick__item-title Постоянная работа с креативами
          p.quick__item-description.md
            | Для правильного обучения и оптимизации рекламных кампаний.
        .quick__item
          .quick__image
            img(src="../icons/svg-mono/gear.svg", alt="Оптимизация результата")
          h4.quick__item-title Оптимизация результата
          p.quick__item-description.md
            | А не инструментов. Нет смысла оптимизировать стоимость
            | перехода или установки, если они не приводят к покупкам
