
// section
section.block__grey
  .quick
    .container
      h3.quick__title Быстрый старт
      p.quick__description.lg.lg--light До 50 объявлений мы запускаем за 2 рабочих дня с нуля
      .quick__items
        .quick__item
          .quick__image
            img(src="../img/folder.svg", alt="Компании остаются у вас")
          h4.quick__item-title Компании остаются у вас
          p.quick__item-description.md
            | Все созданные рекламные материалы принадлежат вам, так как
            | мы ведём рекламу в аккаунтах заказчиков
        .quick__item
          .quick__image
            img(src="../img/paper.svg", alt="Никаких скрытых комиссий")
          h4.quick__item-title Никаких скрытых комиссий
          p.quick__item-description.md
            | Услуги оказываем в рамках договора, в котором указан объём
            | работ, для вас не будет переплат
        .quick__item
          .quick__image
            img(src="../img/notebook.svg", alt="Заинтересованы в результате")
          h4.quick__item-title Заинтересованы в результате
          p.quick__item-description.md
            | Оценка работ идёт от их объёма. Поэтому цель – не
            | раздувание
            | бюджета, а максимум отдачи от рекламы
