.home
  img.home__heli.home__heli--1(src="../img/heli-1.png", alt="")
  img.home__heli.home__heli--2(src="../img/heli-2.png", alt="")
  img.home__heli.home__heli--3(src="../img/heli-3.png", alt="")
  .container
    .home__screen.is-active
      img(src="../img/cloud-home.png", alt="").home__bg
      .home__screen-wrapper
        h2.home__title
          | Перформанс
          small маркетинг
        a.btn.btn-primary.home__btn(href='/performance') Подробнее
    .home__screen
      img(src="../img/cloud-home.png", alt="").home__bg
      .home__screen-wrapper
        h2.home__title
          | мобильное
          small продвижение
        a.btn.btn-primary.home__btn(href='/mobile') Подробнее
    .home__screen
      img(src="../img/cloud-home.png", alt="").home__bg
      .home__screen-wrapper
        h2.home__title
          | Таргетированная
          small реклама
        a.btn.btn-primary.home__btn(href='/target') Подробнее
    .home__screen
      img(src="../img/cloud-home.png", alt="").home__bg
      .home__screen-wrapper
        h2.home__title
          | Контекстная
          small реклама
        a.btn.btn-primary.home__btn(href='/context') Подробнее
    .home__screen
      .home__screen-wrapper
        h2.home__title.home__title--small
          | Комплексное управление бизнесом в интернете
          small Search, Media, Video, Mobile, SMM, SEO и лидогенерация
        a.btn.btn-primary.home__btn.home__btn--inverse(href='/request') Оставить заявку
