.home
  background: url(../img/home-bg.png), linear-gradient($ColorBgLight)
  min-height: 500vh
  background-size: cover
  background-repeat: no-repeat
  background-position: center 110px

  &__screen
    min-height: 100vh
    display: flex
    justify-content: center
    flex-direction: column
    padding: 0px 140px
    position: relative
    opacity: 0
    transition: $transitionSpeed $ease

    &.is-active
      opacity: 1

  &__screen-wrapper
    position: relative
    z-index: 5

  &__title
    font-size: 86px
    line-height: 86px
    font-weight: 800
    margin-bottom: 24px
    small
      font-size: 72px
      line-height: 86px
      font-weight: 300

    &--small
      font-size: 58px
      line-height: 64px
      max-width: 955px
      margin-bottom: 24px
      small
        margin-top: 26px
        font-size: 36px
        line-height: 48px
        max-width: 600px

  &__bg
    position: absolute
    top: 50px
    left: -30%
    right: 0
    bottom: 0
    z-index: 0
    width: 100vw

  &__btn
    background-color: white
    color: $ColorFont
    &:hover
      color: white
    &--inverse
      background-color: $ColorBtn
      color: white

  &__heli
    position: absolute
    &--1
      top: 10vh
      left: 10%
    &--2
      top: 120vh
      right: 10%
    &--3
      top: 220vh
      left: 5%

.page__home
  padding: 0

+r($xl)
  .home
    &__screen
      padding: 0px 80px

    &__title
      font-size: 64px
      line-height: 64px
      small
        font-size: 56px
        line-height: 64px

      &--small
        font-size: 48px
        line-height: 58px
        small
          font-size: 32px
          line-height: 42px

+r($lg)
  .home
    &__screen
      padding: 0px 60px

    &__title
      font-size: 48px
      line-height: 48px
      small
        font-size: 36px
        line-height: 48px
      &--small
        font-size: 36px
        line-height: 48px
        small
          font-size: 24px
          line-height: 34px

+r($md)
  .home
    &__screen
      padding: 0

+r($sm)
  .home
    .container
      overflow: hidden
    &__heli
      &--3
        left: 100px
    &__screen
      text-align: center
    &__title
      text-align: center
      font-size: 24px
      line-height: 24px
      small
        font-size: 18px
        line-height: 24px
      &--small
        font-size: 18px
        line-height: 24px
        small
          font-size: 16px
          line-height: 24px
    &__bg
      left: -40%
      top: 120px
      width: 200vw
