.home
  position: relative
  z-index: 1
  overflow: hidden
  background: #E1E7F3
  &__building
    position: relative
    z-index: 1
    font-size: 0
    img
      width: 100%
      height: 100%
      object-fit: cover

  &__heli
    position: absolute
    z-index: 2
    font-size: 0
    img
      width: 100%
    // total height 3753
    &--1
      // 342
      width: 23.75vw
      height: 23.75vw
      top: 3.45%
      left: 19.4vw
    &--2
      // 409
      width: 28.4vw
      height: 28.4vw
      top: 20.9%
      right: 68px
    &--3
      // 488
      width: 33.9vw
      height: 33.9vw
      top: 42.8%
      left: 0

  &__section
    position: fixed
    z-index: 3
    top: 0
    left: 0
    right: 0
    height: 100vh
    display: flex
    justify-content: center
    flex-direction: column
    pointer-events: none
    &.is-active
      pointer-events: all
      .home
        &__section-wrapper
          transform: none
          opacity: 1
          transition: transform .5s $ease, opacity .3s $ease
        &__section-cloud
          transform: none
          transition: transform .8s $ease, opacity .5s $ease
          opacity: 1

  &__section-wrapper
    position: relative
    padding-left: 90px
    padding-right: 90px
    z-index: 5

  &__title
    font-size: 86px
    line-height: 1
    font-weight: 800
    margin-bottom: 24px
    small
      font-size: 72px
      line-height: 1.3
      font-weight: 300

    &--small
      font-size: 58px
      line-height: 1.3
      max-width: 955px
      margin-bottom: 24px
      small
        margin-top: 26px
        font-size: 36px
        line-height: 1.3
        max-width: 600px

  &__section-cloud
    position: absolute
    top: 50px
    left: 0
    right: 0
    bottom: 0
    z-index: 0
    pointer-events: none
    img
      width: 100%
      height: 100%
      object-fit: cover

  &__btn
    background-color: white
    color: $ColorFont
    &:hover
      color: white
    &--inverse
      background-color: $ColorBtn
      color: white

  // animation
  &__section-wrapper
    opacity: 0
    transition: transform .1s $ease, opacity .15s $ease
    transform: translate3d(0, 30px, 0)
    will-change: transform
  &__section-cloud
    opacity: 0
    transition: transform .4s $ease, opacity .3s $ease
    transform: translate3d(0, 60px, 0)
    will-change: transform

.page__home
  padding: 0

+r($xl)
  .home
    &__title
      font-size: 64px
      small
        font-size: 56px

      &--small
        font-size: 48px
        small
          font-size: 32px

+r($lg)
  .home
    &__section-wrapper

    &__title
      font-size: 48px
      small
        font-size: 36px
      &--small
        font-size: 36px
        small
          font-size: 24px

+r($md)
  .home

+r($sm)
  .home
    .container
      overflow: hidden
    // &__heli
    //   &--3
    //     left: 100px
    &__section
      text-align: center
    &__title
      text-align: center
      font-size: 24px
      small
        font-size: 18px
      &--small
        font-size: 18px
        small
          font-size: 16px
    &__section-cloud
      right: -100%
