// section
section.block__grey
  .plan
    .container(data-aos="fade")
      h3.plan__title Прозрачный план работ
      .plan__items
        .plan__item
          h4.plan__item-title Погружаемся в бизнес
          p.lg.plan__item-number 1.
          ul.plan__items-list
            li.sm Цели и задачи
            li.sm Конкурентный анализ
            li.sm Анализ спроса и сезонности
            li.sm Аудит рекламных компаний
            li.sm Анализ ЦА (целевой аудитории)
        .plan__item
          h4.plan__item-title Разрабатываем комплексную стратегию
          p.lg.plan__item-number 2.
          ul.plan__items-list
            li.sm Подбираем наиболее подходящие инструменты
            li.sm Проводим каждого клиента через воронку
            li.sm Удерживаем или возвращаем клиента
            li.sm Стимулируем к повторным действиям
        .plan__item
          h4.plan__item-title Настраиваем отслеживание продаж
          p.lg.plan__item-number 3.
          ul.plan__items-list
            li.sm Настройка событий в Google Analytics и Яндекс.метрике
            li.sm Создание кастомных отчетов и отчетов в системах аналитики
            li.sm Визуализация данных
        .plan__item
          h4.plan__item-title Создаем качественные рекламные кампании
          p.lg.plan__item-number 4.
          ul.plan__items-list
            li.sm Чистим все запросы, не относящиеся к бизнесу
            li.sm Собираем список минус слов на старте работ
            li.sm Пишем уникальные объявления
            li.sm Создаем креативные баннеры
        .plan__item
          h4.plan__item-title Управляем на основе KPI
          p.lg.plan__item-number 5.
          ul.plan__items-list
            li.sm Повышаем конверсию кликов по объявлениям
            li.sm Следим за качеством лидов
            li.sm Оцениваем эффективность маркетинговых инвестиций
            li.sm Увеличиваем количество продаж
        .plan__item
          h4.plan__item-title Подготавливаем краткий аудит сайта
          p.lg.plan__item-number 6.
          ul.plan__items-list
            li.sm Адаптивная версия сайта (мобильная, планшетная,компьютерная)
            li.sm Скорость загрузки сайта
            li.sm Смысловая загрузка на основе анализа конкурентов
