// section
section.block_grey
  .container
    .plan
      .plan__title
        h2 Прозрачный план работ
      .plan__items
        .plan__item
          .plan__subtitle subtitle Погружаемся в бизнес
          .plan__circle_number circle_number 1.
          .plan__points_list points_list
            ul
              li Цели и задачи
              li Конкурентный анализ
              li Анализ спроса и сезонности
              li Аудит рекламных компаний
              li Анализ ЦА (целевой аудитории)
        .plan__item
          .plan__subtitle subtitle Разрабатываем комплексную стратегию
          .plan__circle_number circle_number 2.
          .plan__points_list points_list
            ul
              li Подбираем наиболее подходящие инструменты
              li Проводим каждого клиента через воронку
              li Удерживаем или возвращаем клиента
              li Стимулируем к повторным действиям
        .plan__item
          .plan__subtitle subtitle Настраиваем отслеживание продаж
          .plan__circle_number circle_number 3.
          .plan__points_list points_list
            ul
              li Настройка событий в Google Analytics и Яндекс.метрике
              li Создание кастомных отчетов и отчетов в системах аналитики
              li Визуализация данных
        .plan__item
          .plan__subtitle subtitle Создаем качественные рекламные кампании
          .plan__circle_number circle_number 4.
          .plan__points_list points_list
            ul
              li Чистим все запросы, не относящиеся к бизнесу
              li Собираем список минус слов на старте работ
              li Пишем уникальные объявления
              li Создаем креативные баннеры
        .plan__item
          .plan__subtitle subtitle Управляем на основе KPI
          .plan__circle_number circle_number 5.
          .plan__points_list points_list
            ul
              li Повышаем конверсию кликов по объявлениям
              li Следим за качеством лидов
              li Оцениваем эффективность маркетинговых инвестиций
              li Увеличиваем количество продаж
        .plan__item
          .plan__subtitle subtitle Подготавливаем краткий аудит сайта
          .plan__circle_number circle_number 6.
          .plan__points_list points_list
            ul
              li Адаптивная версия сайта (мобильная, планшетная,компьютерная)
              li Скорость загрузки сайта
              li Смысловая загрузка на основе анализа конкурентов


  //- // section
  //- section.block_grey
  //-   .container
  //-     .plan
  //-       .plan__title
  //-         h2 Прозрачный план работ
  //-       .plan__items
  //-         .plan__item
  //-           .plan__subtitle subtitle Погружаемся в бизнес
  //-           .plan__circle_number circle_number 1.
  //-           .plan__points_list points_list
  //-             ul
  //-               li Цели и задачи
  //-               li Конкурентный анализ
  //-               li Анализ спроса и сезонности
  //-               li Аудит рекламных компаний
  //-               li Анализ ЦА (целевой аудитории)
  //-         .plan__item
  //-           .plan__subtitle subtitle Разрабатываем комплексную стратегию
  //-           .plan__circle_number circle_number 2.
  //-           .plan__points_list points_list
  //-         .plan__item
  //-           .plan__subtitle subtitle
  //-           .plan__circle_number circle_number 3.
  //-           .plan__points_list points_list
  //-             .plan__subtitle subtitle Настраиваем отслеживание продаж
  //-         .plan__item
  //-           .plan__subtitle subtitle Создаем качественные рекламные кампании
  //-           .plan__circle_number circle_number 4.
  //-           .plan__points_list points_list
  //-         .plan__item
  //-           .plan__subtitle subtitle
  //-           .plan__circle_number circle_number 5.
  //-           .plan__points_list points_list
  //-             .plan__subtitle subtitle Глубоко анализируем
  //-         .plan__item
  //-           .plan__subtitle subtitle Управляем на основе KPI
  //-           .plan__circle_number circle_number 5.
  //-           .plan__points_list points_list
  //-         .plan__item
  //-           .plan__subtitle subtitle Подготавливаем краткий аудит сайта
  //-           .plan__circle_number circle_number 6.
  //-           .plan__points_list points_list
  //-             ul
  //-               li Адаптивная версия сайта (мобильная, планшетная,компьютерная)
  //-               li Скорость загрузки сайта
  //-               li Смысловая загрузка на основе анализа конкурентов

