section.block__blue
  .investment
    .container
      h3.investment__title Всё достигнуто упорным трудом
      .investment__content
        h3.investment__subtitle ВТБ мои инвестиции
        p.investment__description за год работы
        .investment__items
          .investment__item
            h3.investment__item-title на 300%
            p.investment__item-text.md Увеличение количества пользователей приложения
          .investment__item
            h3.investment__item-title на 477%
            p.investment__item-text.md Увеличение количество установок
          .investment__item
            h3.investment__item-title на 365%
            p.investment__item-text.md Увеличение открытых счетов
