// section
section.block__blue
  .hero
    .container
      h3.hero__title Контекстная реклама под ключ
      p.hero__description.lg.lg--light Начните продвижение сайта с настройки рекламы:
      .hero__list-items.hero__list-items--three-column
        .hero__list-item
          p.lg.hero__item-number 1.
          h4.hero__item-title Тексты объявлений
          p.hero__item-description.lg.lg--light по которым будут чаще переходить на сайт
        .hero__list-item
          p.lg.hero__item-number 2.
          h4.hero__item-title Ключевые слова
          p.hero__item-description.lg.lg--light чтобы обратиться именно к вашей аудитории
        .hero__list-item
          p.lg.hero__item-number 3.
          h4.hero__item-title Минус-фразы
          p.hero__item-description.lg.lg--light для релевантных показов и экономии бюджета
