// section
section.block_blue
  .start
    .container
      .start__title
        h2 Контекстная реклама под ключ
      .start__description.p-regular
        span Начните продвижение сайта с настройки рекламы:
      .start__list_items
        .start__list_item
          .start__circle_number circle_number 1.
          .subtitle Тексты объявлений
          .p-regular по которым будут чаще переходить на сайт
        .start__list_item
          .start__circle_number circle_number 2.
          .subtitle Ключевые слова
          .p-regular чтобы обратиться именно к вашей аудитории
        .start__list_item
          .start__circle_number circle_number 3.
          .subtitle Минус-фразы
          .p-regular для релевантных показов и экономии бюджета
