
section.block_blue
  .start
    .container
      .start__title
        h2 Продвижение мобильного приложения под ключ
      .start__description.p-regular
        span Основные каналы продвижения мобильных приложений:
      .start__list_items
        .start__list_item
          .start__circle_number circle_number 1.
          .subtitle Performance продвижение
          .p-regular Основные каналы: Google, Facebook, Instagram, Yandex
        .start__list_item
          .start__circle_number circle_number 2.
          .subtitle Реактивация и ремаркетинг
          .p-regular
            | На основе аналитики событий внутри приложения формируется ЦА, которая с большей
            | вероятностью вернется и совершит конечное целевое действие
        .start__list_item
          .start__circle_number circle_number 3.
          .subtitle ASO (APP STORE OPTIMIZATION)
          .p-regular
            | Аудит и оптимизация карточки приложения в Google Play и App Store
            br
            | Работа с отзывами и рейтингами
            br
            | Закупка мотивированных инсталлов для продвижения в ТОП по категории и по ключевым словам
