
section.block__blue
  .hero
    .container(data-aos="fade")
      h3.hero__title Продвижение мобильного приложения под ключ
      p.hero__description.lg.lg--light Основные каналы продвижения мобильных приложений:
      .hero__list-items.hero__list-items--two-column
        .hero__list-item
          p.lg.hero__item-number 1.
          h4.hero__item-title Performance продвижение
          p.hero__item-description.lg.lg--light Основные каналы: Google, Facebook, Instagram, Yandex
        .hero__list-item
          p.lg.hero__item-number 2.
          h4.hero__item-title Реактивация и ремаркетинг
          p.hero__item-description.lg.lg--light
            | На основе аналитики событий внутри приложения формируется ЦА, которая с большей
            | вероятностью вернется и совершит конечное целевое действие
        .hero__list-item
          p.lg.hero__item-number 3.
          h4.hero__item-title ASO (APP STORE OPTIMIZATION)
          p.hero__item-description.lg.lg--light
            | Аудит и оптимизация карточки приложения в Google Play и App Store
            br
            | Работа с отзывами и рейтингами
            br
            | Закупка мотивированных инсталлов для продвижения в ТОП по категории и по ключевым словам
