section.block__blue
  .hero
    .container(data-aos="fade")
      h3.hero__title Таргетированная реклама в Social media под ключ
      .hero__description-row
        p.hero__description.lg.lg--light На основе статистических данных увеличим прибыль компании в первые 3 месяца работы
        p.hero__description.lg.lg--light Выстроим отдел маркетинга с нуля и улучшим бизнес процессы внутри вашего отдела, структурируем работу и найдём точки роста
      p.hero__title.hero__title--xl.xl
        | Сделайте шаг
        br
        | к развитию команды,
        br
        | к росту прибыли,
        br
        | к новым решениям
        br
        | в бизнесе
      h3.hero__title Помогаем тем, у кого:
      .hero__list-items.hero__list-items--three-column
        .hero__list-item
          p.lg.hero__item-number 1.
          h4.hero__item-title Нет собственного отдела маркетинга
          p.hero__item-description.lg.lg--light
            | Владельцы бизнесов, стартапы, фирмы, которые находятся на стадии развития и им не хватает ресурсов на выстраивание собственного отдела маркетинга.
        .hero__list-item
          p.lg.hero__item-number 2.
          h4.hero__item-title Небольшие организации с одним интернет-маркетологом в штате
          p.hero__item-description.lg.lg--light
            | Фирмы, где один человек тянет на себе весь маркетинг и уже не хватает времени и компетенций для роста
        .hero__list-item
          p.lg.hero__item-number 3.
          h4.hero__item-title Крупные компании
          p.hero__item-description.lg.lg--light
            | Вам требуется дополнительные ресурсы для работы, т.к. её очень много, и вы со всем не справляетесь
