section.block_blue
  .start
    .container
      .start__title
        h2 Таргетированная реклама в Social media под ключ
      .start__description.p-regular
        span Начните продвижение сайта с настройки рекламы:
      .start__list_items
        .start__list_item
          .start__circle_number circle_number 1.
          .subtitle Определения цели кампании
          .p-regular
            | Возможно реализовывать любые задачи: увеличение узнаваемости, привлечение
            | подписчиков, переходы на сайт, генерация заявок
        .start__list_item
          .start__circle_number circle_number 2.
          .subtitle Таргетинги конкретно под вашу ЦА
          .p-regular
            | Характеристики, интересы, события из жизни, подписчики конкурентов и
            | супергеолокация
        .start__list_item
          .start__circle_number circle_number 3.
          .subtitle Подготовка объявлений
          .p-regular
            | Cоздание визуальных креативов может быть, как на вашей стороне, так и силами наших
            | дизайнеров
