section.block__blue
  .hero
    .container
      h3.hero__title Таргетированная реклама в Social media под ключ
      p.hero__description.lg.lg--light Начните продвижение сайта с настройки рекламы:
      .hero__list-items.hero__list-items--three-column
        .hero__list-item
          p.lg.hero__item-number 1.
          h4.hero__item-title Определения цели кампании
          p.hero__item-description.lg.lg--light
            | Возможно реализовывать любые задачи: увеличение узнаваемости, привлечение
            | подписчиков, переходы на сайт, генерация заявок
        .hero__list-item
          p.lg.hero__item-number 2.
          h4.hero__item-title Таргетинги конкретно под вашу ЦА
          p.hero__item-description.lg.lg--light
            | Характеристики, интересы, события из жизни, подписчики конкурентов и
            | супергеолокация
        .hero__list-item
          p.lg.hero__item-number 3.
          h4.hero__item-title Подготовка объявлений
          p.hero__item-description.lg.lg--light
            | Cоздание визуальных креативов может быть, как на вашей стороне, так и силами наших
            | дизайнеров
