---
title: Context

---
extends shared/_layout
block content

  include ../components/hero/_mobile

  include ../components/quickStart/_mobile.pug

  include ../components/result/_mobile.pug

  include ../components/benefits/_context



  //- section.block_white
  //-   .container
  //-     .getings
  //-       .getings__title
  //-         h2 Что вы получаете
  //-       .getings__warnings
  //-         .warning_block
  //-           span Проектная группа
  //-         .warning_block
  //-           span Проактивность
  //-         .warning_block
  //-           span Контроль сроков
  //-         .warning_block
  //-           span Ориентация на бизнес-эффективность клиента
  //-         .warning_block
  //-           span Высокие стандарты сервиса
  //-         .warning_block
  //-           span Общение на понятном языке

  include ../components/team/_team.pug
