---
title: Context

---
extends shared/_layout
block content

  include ../components/hero/_target


  // section
  section.block_white
    .container
      .result
        .result__title
          h2 Что делаем для достижения результата?
        .result__items
          .result__item
            .subtitle Исследование спроса
            .p-regular Анализируем спрос на ваши товары и услуги в каждой социальной сети
          .result__item
            .subtitle Планирование результата
            .p-regular
              | Делаем прогноз количества показов, кликов, бюджета, стоимости заявки и
              | рентабельности исходя из спроса, а также ваших бизнес задач и показателей
          .result__item
            .subtitle Оптимизация размещений
            .p-regular
              | В ходе ведения кампаний подбираем наиболее эффективные методы распределения
              | бюджетов между таргетингами и объявлениями, благодаря чему расходы на рекламу снижаются, а рентабельность
              | вложений растет
          .result__item
            .subtitle Аналитика рекламы
            .p-regular
              | Охват, CTR, %, количество и стоимость заявок, возврат инвестиций ROAS – оценка
              | результата ведется по реальным показателям эффективности рекламы!
          .result__item
            .subtitle Анализ воронки
            .p-regular
              | Изучаем поведение трафика на вашем сайте и при необходимости вплоть до звонков в
              | отдел продаж. Выявляем узкие места. Готовим рекомендации по изменениям на посадочной страницы, даем
              | комментарии по обработке входящих лидов

  include ../components/quickStart/_target

  // section
  section.block_white
    .container
      .conversion
        .conversion__title
          h2 Счётчики считают конверсии, а заявок нет?
        .conversion__description.p-regular
          | Перед запуском рекламы необходима полная настройка аналитики:
          | счётчиков и всех целей, которые позволяют отследить эффективность работы рекламы для вашего направления
          | бизнеса.
          | Мы готовы выполнить все необходимые настройки:
        .conversion__list
          .conversion__list_item
            .conversion__circle_number circle_number 1.
            .conversion__subtitle subtitle Аналитика рекламных кампаний
            .points_list
              ul
                li Более 30 параметров анализа
                li Соц.дем анализ
                li Анализ по времени суток и дням недели
                li Анализ по гео
                li Анализ по устройствам
          .conversion__list_item
            .conversion__circle_number circle_number 2.
            .conversion__subtitle subtitle Офлайн-аналитика
            .points_list
              ul
                li Коллтрекинг
                li Интеграция CRM
                li Online2Offline
                li Сквозная аналитика
          .conversion__list_item
            .conversion__circle_number circle_number 3.
            .conversion__subtitle subtitle Веб-аналитика сайта
            .points_list
              ul
                li Анализ воронки
                li Электронная торговля – аналитика товаров
                li Многоканальные последовательности
                li Модели атрибуции
                li Когортный анализ
                li Вебвизор

  include ../components/benefits/_target

  //- // section
  //- section.block_white
  //-   .container
  //-     .getings
  //-       .getings__title
  //-         h2 Что вы получаете
  //-       .getings__warnings
  //-         .warning_block
  //-           span Проектная группа
  //-         .warning_block
  //-           span Проактивность
  //-         .warning_block
  //-           span Контроль сроков
  //-         .warning_block
  //-           span Ориентация на бизнес-эффективность клиента
  //-         .warning_block
  //-           span Высокие стандарты сервиса
  //-         .warning_block
  //-           span Общение на понятном языке


  include ../components/plan/_plan.pug
  include ../components/team/_team.pug

