---
title: Context

---
extends shared/_layout
block content

  include ../components/hero/_target

  include ../components/result/_target

  include ../components/quickStart/_target

  include ../components/conversion/_target

  include ../components/benefits/_target

  //- // section
  //- section.block_white
  //-   .container
  //-     .getings
  //-       .getings__title
  //-         h2 Что вы получаете
  //-       .getings__warnings
  //-         .warning_block
  //-           span Проектная группа
  //-         .warning_block
  //-           span Проактивность
  //-         .warning_block
  //-           span Контроль сроков
  //-         .warning_block
  //-           span Ориентация на бизнес-эффективность клиента
  //-         .warning_block
  //-           span Высокие стандарты сервиса
  //-         .warning_block
  //-           span Общение на понятном языке


  include ../components/plan/_plan.pug
  include ../components/team/_team.pug

