---
title: Таргетированная Реклама || Целиком
contentTitle: Таргетированная
contentSubTitle: Реклама
footer: true

---
extends shared/_layout
block content

  include ../components/hero/_target

  include ../components/result/_target

  include ../components/quickStart/_target

  include ../components/conversion/_target

  include ../components/benefits/_target

  include ../components/quest/_quest.pug

  include ../components/plan/_plan.pug

  include ../components/team/_team.pug

