
section.team
  .swiper__clouds
    img(src="/assets/images/main/clouds.png")

  .container
    .employee
      .employee__head
        .employee__title Проектная команда

      .employee__swiper
        .swiper
          // Additional required wrapper
          .swiper-wrapper
            // Slides
            .employee__swiper swiper-slide
              .employee__left_side
                img.employee__image(src="/assets/images/persons/Talanov.png", alt)
              .employee__right_side
                .employee__subtitle subtitle 8 лет в маркетинге
                .subtitle Ключевые клиенты в индустриях:
                .employee__cases
                  .employee__case
                    .employee__case_item Finance:
                    .employee__case_item ВТБ
                  .employee__case
                    .employee__case_item Health:
                    .employee__case_item Бест Клиник
                  .employee__case
                    .employee__case_item Education:
                    .employee__case_item Skillbox
                  .employee__case
                    .employee__case_item Gaming:
                    .employee__case_item AnvioVR,
                    .employee__case_item PlatformaVR, District Zero, Vortex
                  .employee__case
                    .employee__case_item E-commerce:
                    .employee__case_item HomeMe, Clouds, Leroy Merlin, Hasbro, Мистер Слип
                  .employee__case
                    .employee__case_item B2B:
                    .employee__case_item Точка-Точка, Деловые Линии, Positive Technologies
                  .employee__case
                    .employee__case_item Delivery:
                    .employee__case_item Domino&apos;s Pizza, Level kitchen, My food
                .employee__expertise
                  .subtitle Экспертиза:
                  .employee__text
                    | Контекстная реклама, Таргетированная реклама, СРА, SMM, Programmatic, SEO, Продвижение мобильных
                    | приложений, Веб-Аналитика, Сквозная аналитика, Видеореклама, Геосервисы, Динамический ремаркетинг,
                    | Маркетплейсы, Прайс-площадки, Инфлюенсеры, ORM.
                div
                  .employee__name ТАЛАНОВ ДАНИЛА
                  .employee__position Генеральный директов
            // Next slide
          .swiper-pagination
