include ../utilities/_mixins
if headerTransparent
  - var pageClass = 'page__home'

doctype html
html(lang="ru")
  head
    include _head

  body
    // place where pjax bindings happen's
    #barba-wrapper
      // what should be changed with every pjax
      .page
        block header
          include ../../components/header/_header

        div(class='page__content' + ' ' + pageClass)
          block content

        block footer
          include ../../components/footer/_footer

        block modals
          include ../../components/modals/_shared

      block dev
        //- include ../../components/dev/demoGrid/_demoGrid

      block scripts
        include _scripts

      i.svg-sprites
        include ../../../dist/img/sprite-color.svg
        include ../../../dist/img/sprite-mono.svg
