// section
section.block_white
  .container
    .tools
      .title Инструментарий
      .p-regular Индивидуальные комбинации инструментов и таргетингов
      .tools__blocks
        .tools__block
          .subtitle Таргетинги
          .points_list
            ul
              li Умная КМС и хитрые комбинации таргетингов (темы, интересы, места и т.д.)
              li Агрессивные таргетинги КМС для поиска новых клиентов
              li Особые аудитории по интересам
              li Эффективные места размещения
              li Соц.-дем. с отдельной коммуникацией
        .tools__block
          .subtitle Таргетинги
          .points_list
            ul
              li Поисковые рекламные кампании
              li Яндекс.Директ и Google AdWords
              li РК на сеть в Яндекс.Директ и Google AdWords
              li Видеореклама
              li Мобильная реклама
        .tools__block
          .subtitle Таргетинги
          .points_list
            ul
              li Умная КМС и хитрые комбинации таргетингов (темы, интересы, места и т.д.)
              li Агрессивные таргетинги КМС для поиска новых клиентов
              li Особые аудитории по интересам
              li Эффективные места размещения
              li Соц.-дем. с отдельной коммуникацией
        .tools__block
          .subtitle Таргетинги
          .points_list
            ul
              li Умная КМС и хитрые комбинации таргетингов (темы, интересы, места и т.д.)
              li Агрессивные таргетинги КМС для поиска новых клиентов
              li Особые аудитории по интересам
              li Эффективные места размещения
              li Соц.-дем. с отдельной коммуникацией
        .tools__block
          .subtitle Таргетинги
          .points_list
            ul
              li Умная КМС и хитрые комбинации таргетингов (темы, интересы, места и т.д.)
              li Агрессивные таргетинги КМС для поиска новых клиентов
              li Особые аудитории по интересам
              li Эффективные места размещения
              li Соц.-дем. с отдельной коммуникацией
        .tools__block
          .subtitle Таргетинги
          .points_list
            ul
              li Умная КМС и хитрые комбинации таргетингов (темы, интересы, места и т.д.)
              li Агрессивные таргетинги КМС для поиска новых клиентов
              li Особые аудитории по интересам
              li Эффективные места размещения
              li Соц.-дем. с отдельной коммуникацией
        .tools__block
          .subtitle Таргетинги
          .points_list
            ul
              li Умная КМС и хитрые комбинации таргетингов (темы, интересы, места и т.д.)
              li Агрессивные таргетинги КМС для поиска новых клиентов
              li Особые аудитории по интересам
              li Эффективные места размещения
              li Соц.-дем. с отдельной коммуникацией
        .tools__block
          .subtitle Таргетинги
          .points_list
            ul
              li Умная КМС и хитрые комбинации таргетингов (темы, интересы, места и т.д.)
              li Агрессивные таргетинги КМС для поиска новых клиентов
              li Особые аудитории по интересам
              li Эффективные места размещения
              li Соц.-дем. с отдельной коммуникацией
