// section
section
  .tools
    .container
      h3.tools__title Инструментарий
      p.tools__description Индивидуальные комбинации инструментов и таргетингов
      .tools__items
        .tools__item
          h4.tools__item-title Таргетинги
          ul.tools__list-item
            li.sm Умная КМС и хитрые комбинации таргетингов (темы, интересы, места и т.д.)
            li.sm Агрессивные таргетинги КМС для поиска новых клиентов
            li.sm Особые аудитории по интересам
            li.sm Эффективные места размещения
            li.sm Соц.-дем. с отдельной коммуникацией
        .tools__item
          h4.tools__item-title Каналы
          ul.tools__list-item
            li.sm Поисковые рекламные кампании
            li.sm Яндекс.Директ и Google AdWords
            li.sm РК на сеть в Яндекс.Директ и Google AdWords
            li.sm Видеореклама
            li.sm Мобильная реклама
        .tools__item
          h4.tools__item-title Аудитории
          ul.tools__list-item
            li.sm Сегментация аудитории с использованием сегментов метрики, сегментов аудиторий, целей метрики, соц.-дем.
            li.sm Яндекс.Аудитории на основе Пикселя
            li.sm Яндекс.Аудитории по геолокации
            li.sm Аудитория заинтересованных покупателей
        .tools__item
          h4.tools__item-title Ремаркетинг / Ретаргетинг
          ul.tools__list-item
            li.sm Динамический ремаркетинг
            li.sm Продвинутый ремаркетинг / ретаргетинг
            li.sm Яндекс. Аудитории ретаргетинговые
            li.sm Смарт-баннеры ретаргетинговые
            li.sm Поисковый ретаргетинги RLSA
            li.sm Ремаркетинг на просмотревших видео или установивших моб. Приложение
        .tools__item
          h4.tools__item-title Look-alike
          ul.tools__list-item
            li.sm Похожие на Customer Match (в Youtube, Gmail)
            li.sm Смарт-баннеры по похожим
            li.sm Похожие по спискам ремаркетинга
            li.sm Яндекс.Аудитории по похожим
        .tools__item
          h4.tools__item-title Доп. инструменты
          ul.tools__list-item
            li.sm Динамические поисковые и DSA
            li.sm Shopping (классический+Truview+Lightbox)
            li.sm Только номер телефона
            li.sm Яндекс.Директ и Google AdWords
            li.sm ДРФ, Авторасширения
            li.sm Расширения + адаптивные Объявления
        .tools__item
          h4.tools__item-title Эксперименты
          ul.tools__list-item
            li.sm Работа по конкурентам (ключевые слова, GSP, особые аудитории по интересам)
            li.sm Беты от Яндекс и Google
        .tools__item
          h4.tools__item-title Оптимизационные меры
          ul.tools__list-item
            li.sm Расширение семантического ядра
            li.sm «Чистка» списка минус-слов
            li.sm Регулярное А/В-тестирование объявлений
            li.sm «Чистка» площадок
            li.sm Подбор около-тематических фраз
            li.sm Новинки и доп. инструменты
