section.block__grey
  .result
    .container(data-aos="fade")
      h3.result__title Раскроем ваши сильные стороны:
      .result__items
        .result__item
          p.lg.conversion__item-number 1.
          h4.result__item-title Укажем на слабые точки в перформанс и брендформанс каналах после проведения аудитов
          p.result__item-description.sm В каждом канале всегда есть потенциал роста, мы их находим и формируем ТЗ для технических специалистов
        .result__item
          p.lg.conversion__item-number 2.
          h4.result__item-title Действуем по принципу водопада
          p.result__item-description.sm Бюджет динамически распределяем по каналам от лучшего к худшему. Наилучший канал получает максимальный бюджет до того момента, как ёмкость канала не выработана или стоимость привлечения не сравняется со следующим по списку
        .result__item
          p.lg.conversion__item-number 3.
          h4.result__item-title Пропишем план работ по каждому направлению с почасовой оплатой сотрудников без переплат
        .result__item
          p.lg.conversion__item-number 4.
          h4.result__item-title Составим реалистичный финансовый план развития совместно с вами
