section
  .conversion
    .container
      h3.conversion__title Счётчики считают конверсии, а заявок нет?
      p.conversion__description.lg.lg--light
        | Перед запуском рекламы необходима полная настройка аналитики:
        | счётчиков и всех целей, которые позволяют отследить эффективность работы рекламы для вашего направления
        | бизнеса.
        | Мы готовы выполнить все необходимые настройки:
      .conversion__items
        .conversion__item
          p.lg.conversion__item-number 1.
          h4.conversion__item-title Аналитика рекламных кампаний
          ul.conversion__list-item
            li.sm Более 30 параметров анализа
            li.sm Соц.дем анализ
            li.sm Анализ по времени суток и дням недели
            li.sm Анализ по гео
            li.sm Анализ по устройствам
        .conversion__item
          p.lg.conversion__item-number 2.
          h4.conversion__item-title Офлайн-аналитика
          ul.conversion__list-item
            li.sm Коллтрекинг
            li.sm Интеграция CRM
            li.sm Online2Offline
            li.sm Сквозная аналитика
        .conversion__item
          p.lg.conversion__item-number 3.
          h4.conversion__item-title Веб-аналитика сайта
          ul.conversion__list-item
            li.sm Анализ воронки
            li.sm Электронная торговля – аналитика товаров
            li.sm Многоканальные последовательности
            li.sm Модели атрибуции
            li.sm Когортный анализ
            li.sm Вебвизор

