section.block__grey
  .analytics
    .container(data-aos="fade")
      h3.analytics__title Мобильный трекер есть, а аналитики нет?
      p.analytics__description.lg.lg--light Перед запуском рекламы необходима полная настройка мобильного трекера: интеграции с рекламными системами, передачу ивентов, когортный отчет.
      .analytics__items
        .analytics__item
          img.analytics__img(src="../img/analytics-4.png", alt="AppsFlyer")
        .analytics__item
          img.analytics__img(src="../img/analytics-3.png", alt="adjust")
        .analytics__item
          img.analytics__img(src="../img/analytics-2.png", alt="Firebase")
        .analytics__item
          img.analytics__img(src="../img/analytics-1.png", alt="AppMetrica")
