// HEADER :: START
- var modifier = ''
if headerTransparent
  - modifier = 'header__transparent'

else
  include ../fixedCta/_fixedCta

header(class="header" + ' ' + modifier)
  .container
    .header__wrapper
      a(href="/index.html").header__logo
        +svgColor('logo-full')
        +svgColor('logo')
      if contentTitle || content
        h1.header__title
          span= contentTitle
          small= contentSubTitle
        .link-icon.header__link-icon
          a(href="#").link-icon.header__link.ssm.uppercase Связаться с нами
          a(href="#").link-icon__item.link-icon__item--telegram
            +svgColor('telegram')
          a(href="#").link-icon__item.link-icon__item--telegram
            +svgColor('whatsapp')

      button.header__hamburger.hamburger.js-hamburger
        span
        span
        span
        span

// MOBILE NAVI
.mobile-navi
  .mobile-navi__wrapper
    button.hamburger.hamburger--close.js-hamburger
      span
      span
    nav.mobile-navi__nav
      a(href="/context.html")
        h2
          | Контекстная
          small Реклама
      a(href="/target.html")
        h2
          | Таргетированная
          small Реклама
      a(href="/mobile.html")
        h2
          | Мобильное
          small продвижение
      a(href="/performance.html")
        h2
          | Перформанс
          small маркетинг
      .link-icon
        a(href="#").link-icon__item.link-icon__item--telegram
          +svgColor('telegram')
        a(href="#").link-icon__item.link-icon__item--telegram
          +svgColor('whatsapp')
      a(href='/request').btn.btn-primary Оставить заявку
