section
  .result
    .container(data-aos="fade")
      h3.result__title Что делаем для достижения результата?
      .result__items
        .result__item
          h4.result__item-title Анализ спроса
          p.result__item-description.sm
            | Анализ уникальных преимуществ конкурентов: юзабилити сайтов, анализ объявлений в
            | поисковой выдаче, ключевые запросы, дополнения в объявлениях
        .result__item
          h4.result__item-title Планирование результата
          p.result__item-description.sm
            | Исходя из маржинальности бизнеса строим прогноз по количеству показов, количеству
            | кликов, CTR и стоимости рекламы на основе спроса и семантики
