section
  .result
    .container(data-aos="fade")
      h3.result__title Что делаем для достижения результата?
      .result__items
        .result__item
          h4.result__item-title Анализ креативов в вашем сегменте
          p.result__item-description.sm
            | Анализируем креативы конкурентов, выявляем ваши главные УТП и запускаем лучшие
            | гипотезы
        .result__item
          h4.result__item-title Планирование результата
          p.result__item-description.sm
            | Делаем прогноз количества показов, кликов, CTR и стоимости рекламы на основе спроса
            | и семантики
        .result__item
          h4.result__item-title Эффективное продвижение
          p.result__item-description.sm
            | В ходе ведения кампаний применяем лучшие практики Google и Facebook по их обучению
            | и наиболее эффективные методы оптимизации
        .result__item
          h4.result__item-title Аналитика рекламы
          p.result__item-description.sm
            | Когортный анализ.
            | Аналитика прокси ивентов.
            | Аналитика креативов
