section.block__blue
  .result
    .container
      h3.result__title Начать просто. Попробуйте:
      .result__items
        .result__item
          h4.result__item-title Час специалиста стоит 2200 р. без НДС
          p.result__item-description.sm Бюджет формируется под каждую задачу индивидуально и списывается с депозита по факту выполненных работ
        .result__item
          h4.result__item-title Работа по депозиту от 50 000 руб. в месяц
          p.result__item-description.sm
            | Минимальный срок договора 3 месяца
            <br/>
            | Можно сделать пробный период 7 дней, чтобы сделать мини аудит и дать несколько рекомендаций – привести продажу
