section
  .result
    .container(data-aos="fade")
      h3.result__title Как мы еще сможем помочь:
      .result__items
        .result__item
          h4.result__item-title Нет понимания куда двигаться
          p.result__item-description.sm Бывает, что команда заходит в тупик, потому что исчерпала идеи или просто не понимает, как решить проблему. Мы проведем аудит ваших процессов и показателей, а затем поможем выстроить дальнейшую стратегию
        .result__item
          h4.result__item-title Есть сомнения в квалификации специалистов
          p.result__item-description.sm Специалисты Целиком ежедневно работают над продвижением проектов и подтверждают компетенции кейсами и наградами
        .result__item
          h4.result__item-title Текущие бизнес результаты не оправдывает маркетинговых вложений
          p.result__item-description.sm С нами вы ставите задачу и оплачиваете конкретное индивидуальное решение. Помогаем заранее спланировать рентабельность
        .result__item
          h4.result__item-title Нужен специалист с опытом в вашей тематике
          p.result__item-description.sm Вероятнее всего, у нас есть опыт работы в вашей или смежной тематике. Мы будем использовать методики, которые уже принесли результат на других проектах
