section
  .result
    .container(data-aos="fade")
      h3.result__title Что делаем для достижения результата?
      .result__items.result__items--target
        .result__item
          h4.result__item-title Исследование спроса
          p.result__item-description.sm Анализируем спрос на ваши товары и услуги в каждой социальной сети
        .result__item
          h4.result__item-title Планирование результата
          p.result__item-description.sm
            | Делаем прогноз количества показов, кликов, бюджета, стоимости заявки и
            | рентабельности исходя из спроса, а также ваших бизнес задач и показателей
        .result__item
          h4.result__item-title Оптимизация размещений
          p.result__item-description.sm
            | В ходе ведения кампаний подбираем наиболее эффективные методы распределения
            | бюджетов между таргетингами и объявлениями, благодаря чему расходы на рекламу снижаются, а рентабельность
            | вложений растет
        .result__item
          h4.result__item-title Аналитика рекламы
          p.result__item-description.sm
            | Охват, CTR, %, количество и стоимость заявок, возврат инвестиций ROAS – оценка
            | результата ведется по реальным показателям эффективности рекламы!
        .result__item
          h4.result__item-title Анализ воронки
          p.result__item-description.sm
            | Изучаем поведение трафика на вашем сайте и при необходимости вплоть до звонков в
            | отдел продаж. Выявляем узкие места. Готовим рекомендации по изменениям на посадочной страницы, даем
            | комментарии по обработке входящих лидов
