
section.block__blue
  .request-header
    .container(data-aos="fade")

      .request-header__nav
        a.request-header__nav-item.sm(href="/") Главная
        +svgMono('arrowUp')
        p.sm Оставить заявку
      .request-wrapper.request-wrapper--default.is-active
        h3.request-header__title Как стать нашим клиентом и прокачать свой бизнес?
        p.request-header__description.lg.lg--light Оставьте заявку, и мы подробно расскажем о наших возможностях
      .request-wrapper.request-wrapper--success
        h3.request-header__title 😊 Спасибо, мы скоро свяжемся с вами!
        p.request-header__description.lg.lg--light Вы можете написать нам снова, если что-то забыли


section
  form.request(action="/requestMe.php" method="post").js-validate-form
    .container(data-aos="fade")
      .request__row
        .request__col
          +inputPlus("Фамилия имя отчество")(required, name='name', id='name', disabled="true")
          +inputPlus("Телефон", 'tel')(required, name='phone', id='phone', disabled="true")
          +inputPlus("E-mail", 'email')(name='email', id='email', disabled="true")
        .request__col
          +textareaPlus("Комментарий")(class='request__textarea', id="comment", name="comment")
      button.request__btn.btn.btn-primary Отправить
