// FOOTER :: START
footer.footer
  .container
    .socials
      label xxx

      .socials__list
        a(href='https://t.me' target='_blank')
          //- +svgMono('')
        a(href='https://web.whatsapp.com' target='_blank')
          //- +svgMono('')

// FOOTER :: END
