// FOOTER :: START
if footer
  footer.footer
    .container
      .footer__wrapper
        .link-icon.footer__link-icon
          a(href="#").link-icon__link.footer__link.ssm.uppercase Связаться с нами
          a(href="#").link-icon__item.link-icon__item--telegram
            +svgColor('telegram')
          a(href="#").link-icon__item.link-icon__item--telegram
            +svgColor('whatsapp')
else
  footer
// FOOTER :: END
