// section
section
  .quest
    .container(data-aos="fade")
      h3.quest__title Что вы получаете
      .quest__items
        .quest__item
          p.md.quest__item-title
            | Проектная группа
            +svgColor('info')
          .quest__item-text
            p.sm При работе с нами вы получаете отдел контекстной рекламе на аутсорс, поскольку мы понимаем, один человек не способен выполнять весь необходимый функционал.
            br
            br
            p.sm.bold В команду входят:
            p.sm 1. Специалист по контекстной рекламе – чтобы управлять размещением,
            p.sm 2. Веб-аналитик – для оценки эффективности и предоставления рекомендаций по оптимизации,
            p.sm 3. Аккаунт-менеджер – для коммуникации с Вами,
            p.sm 4. Менеджер проекта – для тактического и стратегического управления. Все это ключевые функции при построении результативного присутствия в интернете.
        .quest__item
          p.md.quest__item-title
            | Проактивность
            +svgColor('info')
          .quest__item-text
            p.sm При работе с нами вы получаете отдел контекстной рекламе на аутсорс, поскольку мы понимаем, один человек не способен выполнять весь необходимый функционал.
            br
            br
            p.sm.bold В команду входят:
            p.sm 1. Специалист по контекстной рекламе – чтобы управлять размещением,
            p.sm 2. Веб-аналитик – для оценки эффективности и предоставления рекомендаций по оптимизации,
            p.sm 3. Аккаунт-менеджер – для коммуникации с Вами,
            p.sm 4. Менеджер проекта – для тактического и стратегического управления. Все это ключевые функции при построении результативного присутствия в интернете.
        .quest__item
          p.md.quest__item-title
            | Контроль сроков
            +svgColor('info')
          .quest__item-text
            p.sm При работе с нами вы получаете отдел контекстной рекламе на аутсорс, поскольку мы понимаем, один человек не способен выполнять весь необходимый функционал.
            br
            br
            p.sm.bold В команду входят:
            p.sm 1. Специалист по контекстной рекламе – чтобы управлять размещением,
            p.sm 2. Веб-аналитик – для оценки эффективности и предоставления рекомендаций по оптимизации,
            p.sm 3. Аккаунт-менеджер – для коммуникации с Вами,
            p.sm 4. Менеджер проекта – для тактического и стратегического управления. Все это ключевые функции при построении результативного присутствия в интернете.
        .quest__item
          p.md.quest__item-title
            | Ориентация на бизнес-эффективность клиента
            +svgColor('info')
          .quest__item-text
            p.sm При работе с нами вы получаете отдел контекстной рекламе на аутсорс, поскольку мы понимаем, один человек не способен выполнять весь необходимый функционал.
            br
            br
            p.sm.bold В команду входят:
            p.sm 1. Специалист по контекстной рекламе – чтобы управлять размещением,
            p.sm 2. Веб-аналитик – для оценки эффективности и предоставления рекомендаций по оптимизации,
            p.sm 3. Аккаунт-менеджер – для коммуникации с Вами,
            p.sm 4. Менеджер проекта – для тактического и стратегического управления. Все это ключевые функции при построении результативного присутствия в интернете.
        .quest__item
          p.md.quest__item-title
            | Высокие стандарты сервиса
            +svgColor('info')
          .quest__item-text
            p.sm При работе с нами вы получаете отдел контекстной рекламе на аутсорс, поскольку мы понимаем, один человек не способен выполнять весь необходимый функционал.
            br
            br
            p.sm.bold В команду входят:
            p.sm 1. Специалист по контекстной рекламе – чтобы управлять размещением,
            p.sm 2. Веб-аналитик – для оценки эффективности и предоставления рекомендаций по оптимизации,
            p.sm 3. Аккаунт-менеджер – для коммуникации с Вами,
            p.sm 4. Менеджер проекта – для тактического и стратегического управления. Все это ключевые функции при построении результативного присутствия в интернете.
        .quest__item
          p.md.quest__item-title
            | Общение на понятном языке
            +svgColor('info')
          .quest__item-text
            p.sm При работе с нами вы получаете отдел контекстной рекламе на аутсорс, поскольку мы понимаем, один человек не способен выполнять весь необходимый функционал.
            br
            br
            p.sm.bold В команду входят:
            p.sm 1. Специалист по контекстной рекламе – чтобы управлять размещением,
            p.sm 2. Веб-аналитик – для оценки эффективности и предоставления рекомендаций по оптимизации,
            p.sm 3. Аккаунт-менеджер – для коммуникации с Вами,
            p.sm 4. Менеджер проекта – для тактического и стратегического управления. Все это ключевые функции при построении результативного присутствия в интернете.
