section
  .perfomance
    .container
      h3.perfomance__title Направления Performance, с которыми мы готовы вам помогать:
      .perfomance__items
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-15')
          p.perfomance__item-text.md Контекстная реклама
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-14')
          p.perfomance__item-text.md Таргетированная реклама в социальных сетях
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-13')
          p.perfomance__item-text.md Поисковое продвижение
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-12')
          p.perfomance__item-text.md SMM
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-11')
          p.perfomance__item-text.md E-mail маркетинг / CRM маркетинг
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-10')
          p.perfomance__item-text.md CPA
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-09')
          p.perfomance__item-text.md Продвижение приложений
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-08')
          p.perfomance__item-text.md Классические медийные размещения и Programmatic
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-07')
          p.perfomance__item-text.md Управление репутацией в интернете
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-06')
          p.perfomance__item-text.md Видеореклама
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-05')
          p.perfomance__item-text.md Геосервисы
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-04')
          p.perfomance__item-text.md Работа с инфлюенсерами
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-03')
          p.perfomance__item-text.md Прайсплощадки и маркетплейсы
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-02')
          p.perfomance__item-text.md Площадки динамического ремаркетинга
        .perfomance__item
          .perfomance__item-ico
            +svgColor('perfomance-ico-01')
          p.perfomance__item-text.md Построение сквозной аналитики
