.ico-color-example {
  width: 1em;
  height: 1em;
}
.ico-color-logo-full {
  width: 2.51em;
  height: 1em;
}
.ico-color-logo {
  width: 1.18em;
  height: 1em;
}
.ico-color-perfomance-ico-01 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-02 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-03 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-04 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-05 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-06 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-07 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-08 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-09 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-10 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-11 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-12 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-13 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-14 {
  width: 1em;
  height: 1em;
}
.ico-color-perfomance-ico-15 {
  width: 1em;
  height: 1em;
}
.ico-color-telegram {
  width: 1.19em;
  height: 1em;
}
.ico-color-whatsapp {
  width: 1em;
  height: 1em;
}
.ico-color-info {
  width: 1em;
  height: 1em;
}
