.ico-color-example {
  width: 1em;
  height: 1em;
}
.ico-color-logo-full {
  width: 2.51em;
  height: 1em;
}
.ico-color-logo {
  width: 1.18em;
  height: 1em;
}
.ico-color-telegram {
  width: 1.19em;
  height: 1em;
}
.ico-color-whatsapp {
  width: 1em;
  height: 1em;
}
.ico-color-info {
  width: 1em;
  height: 1em;
}
