.ico-mono-Buttons {
  width: 1em;
  height: 1em;
  fill: #1047D6;
}
.ico-mono-arrow-fat {
  width: 0.62em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-arrow-left {
  width: 1em;
  height: 1em;
  fill: #2094FF;
}
.ico-mono-arrow-top {
  width: 0.76em;
  height: 1em;
  fill: #1047D6;
}
.ico-mono-arrowUp {
  width: 0.76em;
  height: 1em;
  fill: #1047D6;
}
.ico-mono-boxes {
  width: 1.01em;
  height: 1em;
  fill: #616F8A;
}
.ico-mono-calendar {
  width: 1.1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-close {
  width: 1em;
  height: 1em;
  fill: #E76060;
}
.ico-mono-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-mono-folder {
  width: 1em;
  height: 1em;
  fill: #616F8A;
}
.ico-mono-gear {
  width: 1em;
  height: 1em;
  fill: #616F8A;
}
.ico-mono-glass {
  width: 1em;
  height: 1em;
  fill: #616F8A;
}
.ico-mono-icon-bg {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-light {
  width: 1em;
  height: 1em;
  fill: #616F8A;
}
.ico-mono-map {
  width: 1.28em;
  height: 1em;
  fill: #616F8A;
}
.ico-mono-notebook {
  width: 1em;
  height: 1em;
  fill: #616F8A;
}
.ico-mono-paper {
  width: 1em;
  height: 1em;
  fill: #616F8A;
}
.ico-mono-statistics {
  width: 1em;
  height: 1em;
  fill: #616F8A;
}
.ico-mono-waterfall {
  width: 1em;
  height: 1em;
  fill: #616F8A;
}
