// section
section.block_blue
  .container
    .benefits
      .benefits__title
        h2.h2-title Преимущества работы с нами
      .benefits__description.p-regular
        | Учитываем все факторы, которые влияют на результат при настройке
        | контекстной рекламы!
      .benefits__list
        .points_list
          ul
            li Обходим статус «Мало показов»
            li Используем все доступные рекламные форматы для генерации максимального количества лидов
        .points_list
          ul
            li Используем гиперсегментацию аудиторий
            li Проводим полный конкурентный анализ
            li Перед настройкой рекламных кампаний прорабатываем стратегию в MindMap
        .points_list
          ul
            li Тщательно прорабатываем все возможные ключевые слова
            li Пишем уникальное объявление на каждое ключевое слово
      .benefits__items
        .benefits__item
          .benefits__image
          .subtitle Компании остаются у вас
        .benefits__item
          .benefits__image
          .subtitle Никаких скрытых комиссий
        .benefits__item
          .benefits__image
          .subtitle Заинтересованы в результате
        .benefits__item
          .benefits__image
          .subtitle Заинтересованы в результате
