section.block__blue
  .benefits
    .container(data-aos="fade")
      h3.benefits__title Преимущества работы с нами
      p.benefits__description.lg.lg--light
        | Учитываем все факторы, которые влияют на результат при настройке
        | контекстной рекламы!
      .benefits__list-items
        ul.benefits__list-item
          li.sm Используем все доступные рекламные форматы для генерации максимального количества лидов
        ul.benefits__list-item
          li.sm Применяем лучшие практики Google UAC и Facebook Ads и ASO продвижения
          li.sm Успешно боремся с фродом
        ul.benefits__list-item
          li.sm Проводим полный конкурентный анализ
          li.sm Перед настройкой рекламных кампаний прорабатываем стратегию в MindMap

      .benefits__items
        .benefits__item
          .benefits__image
            img(src="img/map.svg", alt="Работаем по всей России")
          h4.benefits__item-title Работаем по всей России
        .benefits__item
          .benefits__image
            img(src="img/statistics.svg", alt="Ежедневный отчет")
          h4.benefits__item-title Ежедневный отчет
        .benefits__item
          .benefits__image
            img(src="img/boxes.svg", alt="Работа с любой нишей")
          h4.benefits__item-title Работа с любой нишей
        .benefits__item
          .benefits__image
            img(src="img/glass.svg", alt="Прозрачность в работе")
          h4.benefits__item-title Прозрачность в работе
