section
  .container
    .benefits
      .benefits__title
        h2.h2-title Преимущества работы с нами
      .benefits__description.p-regular
        | Учитываем все факторы, которые влияют на результат при настройке
        | контекстной рекламы!
      .benefits__list
        .points_list
          ul
            li Используем все доступные рекламные форматы для генерации максимального количества лидов
        .points_list
          ul
            li Применяем лучшие практики Google UAC и Facebook Ads и ASO продвижения
            li Успешно боремся с фродом
        .points_list
          ul
            li Проводим полный конкурентный анализ
            li Перед настройкой рекламных кампаний прорабатываем стратегию в MindMap
      .benefits__items
        .benefits__item
          .benefits__image
          .subtitle Работаем по всей России
        .benefits__item
          .benefits__image
          .subtitle Ежедневный отчет
        .benefits__item
          .benefits__image
          .subtitle Работа с любой нишей
        .benefits__item
          .benefits__image
          .subtitle Прозрачность в работе
