// section
section.block__blue
  .benefits
    .container
      h3.benefits__title Преимущества работы с нами
      p.benefits__description.lg.lg--light
        | Учитываем все факторы, которые влияют на результат при настройке
        | контекстной рекламы!
      .benefits__list-items
        ul.benefits__list-item
          li.sm Обходим статус «Мало показов»
          li.sm Используем все доступные рекламные форматы для генерации максимального количества лидов
        ul.benefits__list-item
          li.sm Используем гиперсегментацию аудиторий
          li.sm Проводим полный конкурентный анализ
          li.sm Перед настройкой рекламных кампаний прорабатываем стратегию в MindMap
        ul.benefits__list-item
          li.sm Тщательно прорабатываем все возможные ключевые слова
          li.sm Пишем уникальное объявление на каждое ключевое слово

      .benefits__items
        .benefits__item
          .benefits__image
            img(src="../icons/svg-mono/map.svg", alt="Работаем по всей России")
          h4.benefits__item-title Работаем по всей России
        .benefits__item
          .benefits__image
            img(src="../icons/svg-mono/statistics.svg", alt="Ежедневный отчет")
          h4.benefits__item-title Ежедневный отчет
        .benefits__item
          .benefits__image
            img(src="../icons/svg-mono/boxes.svg", alt="Работа с любой нишей")
          h4.benefits__item-title Работа с любой нишей
        .benefits__item
          .benefits__image
            img(src="../icons/svg-mono/glass.svg", alt="Прозрачность в работе")
          h4.benefits__item-title Прозрачность в работе
